cycler==0.10.0
decorator==4.4.0
isodate==0.6.0
kiwisolver==1.0.1
matplotlib==3.0.3
networkx==2.2
numpy==1.16.2
pandas==0.24.2
Pillow==5.4.1
plyfile==0.7
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
rdflib==4.2.2
scipy==1.2.1
six==1.12.0
torch==1.0.1.post2
torch-cluster==1.2.4
torch-geometric==1.0.3
torch-scatter==1.1.2
torch-sparse==0.2.4
torch-spline-conv==1.0.6
torchvision==0.2.2.post3
